<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <title>Mike's ToDo List</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="TodoController">

    <container>

        <row>
            <column class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 ">
                <div class="newItem">

                    <h1>New ToDo Item:</h1>
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" ng-model="item.title" class="form-control " id="title ">
                    </div>
                    <div class="form-group">
                        <label for="title">Price:</label>
                        <input type="number" ng-model="item.price" class="form-control " id="price ">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" ng-model="item.description" class="form-control " id="description ">
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" ng-model="item.completed" id="completed " value=" ">  Completed</label>
                    </div>
                    <div class="form-group">
                        <label for="image">Image Url:</label>
                        <input type="text" ng-model="item.imgUrl" class="form-control " id="image ">
                    </div>

                    <button type="button" class="btn btn-primary " ng-click="clickSubmit(item) ">Submit</button>
                </div>

            </column>
        </row>

        <row>
            <column class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">

                <div class="items">
                    <table id="table">
                        <tr>
                            <th>
                                Item
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Completed
                            </th>
                            <th>
                                Image
                            </th>
                        </tr>

                        <tr ng-repeat="todo in todos">
                            <td ng-model="todo.completed" ng-class="{completed: todo.completed}">{{todo.title}}</td>
                            <td ng-model="todo.completed" ng-class="{completed: todo.completed}">{{todo.price}}</td>
                            <td ng-model="todo.completed" ng-class="{completed: todo.completed}">{{todo.description}}
                            </td>
                            <td><input type="checkbox" ng-model="todo.completed" ng-change="onCompletedChange(todo)" {{todo.completed ? "checked" : ""}}>
                            </td>
                            <td><img ng-src=" {{todo.imgUrl}} ">
                            </td>
                            <td><button type="button" ng-model="todo" ng-click="clickDelete(todo)">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </column>
        </row>

    </container>




    <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="main.js"></script>
</body>

</html>
