tr.strikeout {
    text-decoration: line-through;
}

.newItem,
.items {
    background-color: lightgrey;
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 10px 10px 5px #888888;
}

.items {
    margin-top: 20px;
    width: 500px;
}

img {
    width: 170px;
}

.completed {
    text-decoration: line-through;
}
