<!DOCTYPE html>
<html lang="en" ng-app="twitchApp">

<head>
    <meta charset="UTF-8">
    <title>Twitch Display</title>
    <link type="text/css" rel=stylesheet href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel=stylesheet href="styles.css">
</head>

<body>
    <div ng-controller="AppCtrl">
        <div class="searchContainer">
            <div class="innerSearchContainer">
                <form name="searchForm" ng-submit="clickSearch(gameInput)">
                    <input type=text placeholder="Channel" ng-model="gameInput"><button type="button" ng-click="clickSearch(gameInput)">Search</button>
                </form>
            </div>
        </div>
    </div>


    <ng-view></ng-view>

    <div class="footer">
        <div>Twatch © Mike Miller</div>
    </div>

    <!-- CDNs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Components -->
    <script src="app.js"></script>
    <script src="/components/home/home.js"></script>
    <!--<script src="/components/streams/streams.js"></script>-->
    <script src="/components/channels/channels.js"></script>
    <script src="/components/videos/videos.js"></script>
    <script src="/components/video/video.js"></script>
</body>

</html>
