@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('fonts/bebasneue_regular-webfont.eot');
    src: url('fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bebasneue_regular-webfont.woff') format('woff'), url('fonts/bebasneue_regular-webfont.ttf') format('truetype'), url('fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Light';
    src: url('fonts/bebasneue_light-webfont.eot');
    src: url('fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bebasneue_light-webfont.woff2') format('woff2'), url('fonts/bebasneue_light-webfont.woff') format('woff'), url('fonts/bebasneue_light-webfont.ttf') format('truetype'), url('fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Avenir";
}

.bebas {
    font-family: "Bebas Neue Light";
    font-size: 1.5em;
}

.navbar {
    background: white;
    border-bottom-color: white;
    height: 130px;
}

.dropdown {
    display: inline;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 10px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.dropdown-menu li a {
    text-align: center;
    padding: 20px 20px;
}

.dropdown-menu li a:hover {
    background-color: rgb(243, 195, 172)
}


/* Fade transition for carousel items */

.carousel .item {
    left: 0 !important;
    -webkit-transition: opacity .4s;
    /*adjust timing here */
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}

.carousel-control {
    background-image: none !important;
    /* remove background gradients on controls */
}


/* Fade controls with items */

.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}

.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

#emailFormBackground {
    background-color: rgb(254, 231, 221);
    height: 70px;
    padding-top: 20px;
}

#emailForm {
    margin: auto;
    border-style: none;
    width: 250px;
}

#emailInput {
    width: 100%;
    margin: auto;
}

.content {
    text-align: center;
    padding-top: 20px;
}

.side {
    height: 500px;
    background-color: red;
}

.date,
.related,
.sideSection {
    border-color: lightgrey;
    border-style: solid;
    margin: auto;
    line-height: 0px;
    width: 100%;
    padding-bottom: 15px;
}

.date {
    border-width: 1px 0px 0px 0px;
}

.related {
    border-width: 1px 0px 1px 0px;
    width: auto;
}

.sideSection {
    border-width: 1px 1px 1px 1px;
}

.sectionTitle+* {
    padding-top: 40px;
}

.sectionTitle {
    background-color: white;
    color: grey;
    padding: 0px 5px;
}

relatedSectionTitle {
    padding: 0px 0px;
}

.title {
    font-family: "avenir";
}

.contentImage {
    width: 100%;
    padding: 10px;
}

.contentText {
    text-align: left;
}

.socialMedia,
.sideSocialMedia {
    display: flex;
    justify-content: space-between;
}

.socialMedia {
    padding: 50px 0px;
}

.sideSocialMedia {
    padding: 20px 0px;
    justify-content: center;
}

.socialMedia i,
.sideSocialMedia i {
    padding-right: 25px;
}

.socialMedia i {
    color: #f3c3ac;
}

.relatedImages img {
    width: 120px;
    margin: 15px 15px 0px 15px;
}

.sideSection {
    margin-top: 50px;
}

#sideEmailInput {
    width: 270px;
    border-style: none;
    margin: 15px 0px;
}

#wishlistCarousel {
    padding: 20px 20px;
}

.sideSection img {
    width: 280px;
}

favoritesSection {
    margin-bottom: 20px;
}

.archivesDropdown {
    border: 1px solid lightgrey;
    margin-top: 20px;
    text-align: left;
}

#instagramText {
    text-align: center;
}

#instagramInfo {
    display: flex;
}

#instagramProfilePhoto img {
    width: 50px;
    border-radius: 50%
}

#instagramDescription {
    font-size: 0.9em;
}

.instagramImage {
    width: 200px;
    height: 200px;
    padding: px 0px;
    margin: 0px 0px;
    float: left;
}

#bottomImageStrip {}

#bottomButtons {
    padding: 20px 0px;
    text-align: center;
}

.loadMoreButton {
    color: white;
    background-color: rgb(82, 82, 82);
}

.instagramButton {
    color: white;
    background-color: rgb(81, 127, 184);
}

#footer {
    background-color: black;
    color: lightgrey;
    font-size: 80%;
    padding: 10px;
    display: flex;
}

.footerCompanyName {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #emailForm {
        margin: 0px 10px 0px 10px;
        width: 100%;
    }
}
