<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="titleOuter">
                <h1 class="title">About Me</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <hr>
            <div class="explanation">
                Michael J. Miller (n): A passionate developer with experience in Android, iOS, Windows Mobile, desktop
                and web development.
            </div>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <img src="similies_square.jpg">
        </div>
        <div class="col-xs-12 col-sm-3">
            <h4>Who am I?</h4>
            <h5>A Few Words About Me...</h5>
            <p>I began my experience as a coder at Direct Supply, a medical device destributer in Milwaukee, Wisconsin
                where I programmed in C# and T-SQL. I moved on to a 5 year job at Pixar Animation Studios writing C++,
                Python and Objective-C code for the company's main animation software. After
                that, I worked for Olio, a startup creating an Android smartwatch where I developed the user interface
                for the watch and the built-in apps such as the calendar and weather display.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>My Skills</h4>
            <h5>What I'm Best At</h5>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info progress-bar-custom" role="progressbar" aria-valuenow="80"
                     aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                    <span>Java</span>
                </div>
            </div>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info progress-bar-custom" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                    <span>Javascript</span>
                </div>
            </div>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info progress-bar-custom" role="progressbar" aria-valuenow="90"
                     aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                    <span>C#</span>
                </div>
            </div>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info progress-bar-custom" role="progressbar" aria-valuenow="90"
                     aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                    <span>C++</span>
                </div>
            </div>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info progress-bar-custom" role="progressbar" aria-valuenow="75"
                     aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                    <span>HTML/CSS</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
