* {
    border: 1px solid black;
}

#flexcontainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#flexcontainer2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 0 2em;
}
