    .text {
        margin-bottom: 8px;
    }
    
    input[type="text"],
    input[type="number"] {
        width: 200px;
        padding: 7px;
        border-radius: 7px;
        box-shadow: 1px 0px 7px;
    }
    
    select {
        width: 200px;
        height: 30px;
        padding: 7px;
        border-radius: 7px;
        box-shadow: 1px 0px 7px;
    }
    
    #container {
        padding: 10px;
        background-color: rgba(200, 200, 200, .5);
        width: 250px;
    }
