.invalidInfo {
    color: red;
    display: none;
}

.form,
.table {
    margin: auto;
    max-width: 500px;
    background-color: lightgrey;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}

.table {
    margin-top: 20px;
}

td {
    padding-bottom: 10px;
}

#scoreTable {
    border-collapse: collapse;
    border: 1px solid black;
}

#scoreTable td {
    padding: 10px;
}

button {
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 5px;
}
