<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <div ng-controller="MyAddController">
        <input type=number ng-model="addInput.first"> +
        <input type=number ng-model="addInput.second">
        <button ng-model="Button" ng-model="input" ng-click="addClick(addInput)">Add</button>

        <h1>{{addResult}}</h1>
    </div>


    <div ng-controller="MyMultiplyController">
        <input type=number ng-model="multiplyInput.first"> *
        <input type=number ng-model="multiplyInput.second">
        <button ng-model="Button" ng-model="input" ng-click="multiplyClick(multiplyInput)">Add</button>

        <h1>{{multiplyResult}}</h1>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="main.js"></script>

</body>

</html>
