.square {
    width: 50px;
    height: 50px;
}

.chessboard {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-gap: 0px;
}

.black {
    background-color: chocolate;
}

.white {
    background-color: bisque;
}
